body {
  background: #f6e6ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: serif;
}

.envelope {
  position: relative;
  width: 280px;
  height: 180px;
}

.letter {
  background: #fff;
  padding: 25px;
  text-align: center;
  line-height: 1.6;

  word-break: normal;
  overflow-wrap: normal;
}

button {
  margin: 15px;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
