body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f8c8dc; /* rosado */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.envelope {
  position: relative;
  width: 280px;
  height: 180px;
}

.pocket {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 140px solid #f5a3a2;
  border-right: 140px solid #f5a3a2;
  border-top: 90px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.letter {
  background: #fff;
  padding: 25px;
  text-align: center;
  line-height: 1.6;

  word-break: normal;
  overflow-wrap: normal;
}

button {
  margin: 15px;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
